<div class="container-fluid">
    <div class="card center">

        <div class="row pt-5">
            <div class="col-md-7 pr-0 box1">
                <img src="assets/pic-1.png" class="img1">
            </div>
            <div class="col-md-5 box2">
                <h1 class="heading pl-5">Sign Up</h1>

                <form>
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                        <label for="name" class="form__label">Name</label>
                    </div>
                    <div class="form__group field">
                        <input type="email" class="form__field" placeholder="E-mail" name="email" id='email' required />
                        <label for="email" class="form__label">E-mail</label>
                    </div>
                    <div class="form__group field">
                        <input type="number" class="form__field" placeholder="Student No." name="stdno" id='stdno' required />
                        <label for="stdno" class="form__label">Student No.</label>
                    </div>
                    <div class="form__group field">
                        <input type="password" class="form__field" placeholder="Password" name="password" id='password' required />
                        <label for="password" class="form__label">Password</label>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>