<div id="bgimg">

    <div class="logo"></div>
    <div class="card center">

        <div class="row ">
            <div class="col-md-5 cl1" style="padding-left:6%;">
                <h1 style="padding-top: 15%;">Sign In</h1>
                <form>
                    <div class="form__group field">
                        <input type="email" class="form__field" placeholder="E-mail" name="email" id='email' required />
                        <label for="email" class="form__label">E-mail</label>
                    </div>
                    <div class="form__group field">
                        <input type="password" class="form__field" placeholder="Password" name="password" id='password' required />
                        <label for="password" class="form__label">Password</label>
                    </div>
                </form>

                <a routerLink="/successmsg"> <i class='fas fa-arrow-circle-right ' style='font-size:3.4em;color:blue;float: right; margin-top: 15%;'></i></a>
                <footer style="margin-top: 30%; color: orangered; font-weight: 600; font-size:larger;">NO Account ? Sign Up</footer>


            </div>
            <div class="col-md-7 pcl2">
                <img src="assets/Group 79.png" class="pic1">
            </div>

        </div>

    </div>
</div>