<div class="up">
    <div class="card">
        <div class="card-body" style="padding-top:0%; ">
            <div >
            <i class='fa fa-check-circle' style='font-size:4.5em;color: rgb(7, 224, 7);margin-left: 40%; margin-top: 8%;'></i>
            <i class="fa fa-times" aria-hidden="true" style="float: right;font-size:2em ;margin-top: 2%;color: red;font-weight:bold;"></i> 
        </div>
        <div style=" margin-top: 8%;text-align: center;" class="text">
            <h1  style="color: rgb(4, 153, 4);">Sign up Successful !</h1>
        </div>
        </div>
      </div>

</div>
