<div class="container-fluid px-0">
    <img src="assets/brllogo.png" alt="logo" class="img-fluid logo pl-4">
    <img src="assets/Group 72.svg" class=" img-fluid gp-72">
    <div class="box">
        <p class="text">
            Blockchain<br> Research Lab<br> Test Portal
        </p>

        <div class="row">
            <div class="col">
                <a routerLink="/signup"> <button type="button" class="btn btn-primary btn-lg mb-2">Login</button></a>
            </div>


            <div class="col">
                <a routerLink="/signin"></a><button type="button" class="btn btn-primary btn-lg mb-2">Signup</button> </a>
            </div>

        </div>
    </div>
    <footer>
        <img src="assets/Mask Group 4.png" class="mg-4">
        <img src="assets/Mask Group 5.png" class="mg-5">
    </footer>
</div>